{% extends "base.html" %}
{%block content%}
<br>
<div class="container d-flex justify-content-around">
  <!-- First Card -->
  <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">Chatbot of Truth</h5>
      <h6 class="card-subtitle mb-3 text-body-secondary">Exploring the limitation of language models</h6>
      <p class="card-text">
        Chatbot of Truth is an installation inspired by the Rome tourist spot Mouth of Truth, with the Chatbot as its
        backbone.
        The user can ask a yes/ no question and put one hand into the statue. The statue would say yes/no based on its
        knowledge, and whether it's a <b>proper question to ask chatbot </b>
        For instance, if the participant asks <i>“Did I have coffee today”</i>, the agent will anser..
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Milestone1:</b> Base version with question generator and answer</li>
      <li class="list-group-item"><b>Milestone2:</b> Advanced version with question generator with different user type
      </li>
    </ul>
  </div>

  <!-- Second Card -->
  <div class="card" style="width: 24rem;">
    <img src="/imgs/mot.jpg" class="card-img-top" alt="lot">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">&nbsp Chatbot of Truth in the physical form </li>
    </ul>
  </div>
</div>


{%endblock%}